<launch>
    <!-- Pfade zu YAML- und PGM-Dateien als Parameter -->
    <arg name="yaml_file" default="/home/danny/catkin_ws/src/maze_bot_control/maps/maze9.yaml"/>
    <arg name="pgm_file" default="/home/danny/catkin_ws/src/maze_bot_control/maps/maze9.pgm"/>
    
    
    <arg name="start_x" default="0.03374290466308594"/>
    <arg name="start_y" default="-0.0013123006792739"/>
    
 
    <!--<arg name="goal_x" default="3.6837387084960938"/>
    <arg name="goal_y" default="-3.395461082458496"/>-->
    
    <arg name="goal_x" default="1.62770414352417"/>
    <arg name="goal_y" default="-3.690054416656494"/>
   <!--
    <arg name="goal_x" default="2.4167144298553467"/>
    <arg name="goal_y" default="-5.35239315032959"/>-->
    
    <!-- Include der zusätzlichen Launch-Datei -->
    <include file="$(find maze_pkg)/launch/maze.launch">
        <arg name="maze_id" value="9"/>
    </include>

    <!-- Map-Loader-Node x -->
    <node pkg="maze_bot_control" type="map_loader.py" name="map_loader" output="screen">
        <param name="yaml_file" value="$(arg yaml_file)"/>
    </node>

    <!-- A*-Planner-Node-->
    <node pkg="maze_bot_control" type="a_star_algorithm.py" name="a_star_planner" output="screen">
        <param name="start_x" value="$(arg start_x)"/>
        <param name="start_y" value="$(arg start_y)"/>
        <param name="goal_x" value="$(arg goal_x)"/>
        <param name="goal_y" value="$(arg goal_y)"/>
    </node>

    <!-- Path-Follower-Node-->
    <node name="controller" pkg="maze_bot_control" type="tb3_driver.py" output="screen">
        <param name="linear_speed" value="0.2" />
        <param name="angular_speed" value="0.5" />
        <param name="distance_threshold" value="0.1" />
        <param name="angle_threshold" value="0.1" />
    </node>

</launch>
