<launch>

    <!-- Arguments-->
    <arg name="start_x" default="0.03374290466308594"/>
    <arg name="start_y" default="-0.0013123006792739"/>
    <arg name="start_z" default="0.0"/>
    <arg name="goal_x" default="3.6837387084960938"/>
    <arg name="goal_y" default="-3.395461082458496"/>


    <include file="$(find maze_pkg)/launch/maze.launch">
        <arg name="maze_id" value="8"/>
    </include>
    
    <!-- Unknown Maze Navigator Node -->
    <node pkg="maze_bot_control" type="aufgabe_2.py" name="aufgabe2" output="screen">
    </node>
</launch>