<launch>
<!-- Include der zusätzlichen Launch-Datei -->
    <include file="$(find maze_pkg)/launch/maze.launch">
        <arg name="maze_id" value="3"/>
        <arg name="x_pos" value="-2.55"/>
        <arg name="y_pos" value="1.0"/>
        <arg name="yaw_pos" value="3.1516"/>
    </include>
<!-- Aufgabe_3-Node -->
    <node pkg="maze_bot_control" type="Aufgabe_3.py" name="Aufgabe_3" output="screen"/>
    
</launch>